/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.cdnfonts.com/css/tisa-sans-pro');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /*===== Colores =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 0;
  --hue-color3: 124.6;
  --hue-color2: 202.2;
  --hue-color1: 201.9;
  --hue-color4: 34.3;
  --third-color: hsl(var(--hue-color2), 45.3%,68.4%);
  --second-color: hsl(var(--hue-color), 0%, 0%);
  --fourth-color: hsl(var(--hue-color3), 21.1%,63.7%);
  --first-color: hsl(var(--hue-color1), 45.3%,58.4%);
  --fifth-color: hsl(var(--hue-color4),43.8%,56.1%);
  /*===== Fuente y tipografia =====*/
  --body-font: 'Tisa Sans Pro', sans-serif;
  --big-font-size: 1.0rem;
  --h2-font-size: 1.25rem;
  --h1-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /*===== Margenes =====*/
  --mb-1: 0rem;
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}


@media screen and (min-width: 0px) {
  :root {
    --vbig-font-size: 1.0rem;
    --big-font-size: 3.5rem;
    --h2-font-size: 2.5rem;
    --h1-font-size: 2rem;
    --larger-font-size: 1.0rem;
    --normal-font-size: 0.9rem;
    --smaller-font-size: .8rem;
  }
}

@media screen and (min-width: 500px) {
  :root {
    --vbig-font-size: 1.5rem;
    --big-font-size: 3.5rem;
    --h2-font-size: 2.5rem;
    --h1-font-size: 2rem;
    --larger-font-size: 1.0rem;
    --normal-font-size: 0.9rem;
    --smaller-font-size: .8rem;
  }
}

@media screen and (min-width: 620px) {
  :root {
    --vbig-font-size: 2.0rem;
    --big-font-size: 3.5rem;
    --h2-font-size: 3rem;
    --h1-font-size: 2rem;
    --larger-font-size: 1.0rem;
    --normal-font-size: 0.9rem;
    --smaller-font-size: .8rem;
  }
}

@media screen and (min-width: 780px) {
  :root {
    --vbig-font-size: 2.5rem;
    --big-font-size: 3.5rem;
    --h2-font-size: 3rem;
    --h1-font-size: 2rem;
    --larger-font-size: 1.0rem;
    --normal-font-size: 0.9rem;
    --smaller-font-size: .8rem;
  }
}

@media screen and (min-width: 930px) {
  :root {
    --vbig-font-size: 3.0rem;
    --big-font-size: 3.5rem;
    --h2-font-size: 3rem;
    --h1-font-size: 2rem;
    --larger-font-size: 1.0rem;
    --normal-font-size: 0.9rem;
    --smaller-font-size: .8rem;
  }
}

@media screen and (min-width: 1090px) {
  :root {
    --vbig-font-size: 3.5rem;
    --big-font-size: 3.5rem;
    --h2-font-size: 3rem;
    --h1-font-size: 2rem;
    --larger-font-size: 1.0rem;
    --normal-font-size: 1.0rem;
    --smaller-font-size: .8rem;
  }
}

@media screen and (min-width: 1290px) {
  :root {
    --vbig-font-size: 4.0rem;
    --big-font-size: 3.5rem;
    --h2-font-size: 3rem;
    --h1-font-size: 2rem;
    --larger-font-size: 1.0rem;
    --normal-font-size: 1.0rem;
    --smaller-font-size: .9rem;
  }
}

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

h1, h2, p {
  margin: 0;
}

.exp {
  text-align: justify;
  text-justify: inter-word;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;

}
.exp li {
  font-size: 16px;
  list-style-type: disc;
}

.title{
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  vertical-align: top;
}

div.container {

  
  border-radius: .5rem;
  justify-self: center; 
  margin-bottom: 2rem;
  margin-top: 1rem;
  margin-right: 10%;
  
  
  
}

@media screen and (max-width: 890px) {

  div.large {
  
  display: none;

  }
  
}

@media screen and (max-width: 300px) {

  div.medium {
  
  display: none;
  
  }
  
}

@media screen and (min-width: 890px) {

  div.small {
  
  display: none;
  
  }
  
}

@media screen and (max-width: 890px) {

  div.small {
  
  width: 230px;
  margin-left: auto;
  margin-right: auto;

  }
  
}


div.container {

  
  border-radius: .5rem;
  justify-self: center; 
  margin-bottom: 2rem;
  margin-top: 1rem;
  margin-right: 10%;
  
  
  
}

@media screen and (max-width: 890px) {

  div.large {
  
  display: none;

  }
  
}

@media screen and (max-width: 300px) {

  div.medium {
  
  display: none;
  
  }
  
}

@media screen and (min-width: 890px) {

  div.small {
  
  display: none;
  
  }
  
}

@media screen and (max-width: 890px) {

  div.small {
  
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  }
  
}
.range{
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0rem;
  padding-bottom: 0rem;
  vertical-align: middle;
  color:black;
  font-size: 16px;
}

a {
  text-decoration: none;
}

a:link {
  color: var(--first-color);
  text-decoration: none;
}

a:visited {
  color: var(--first-color);
  text-decoration: none;
}

a:hover {
  color: hsl(351.9,45.3%,58.4%);
  text-decoration: underline;
}

a:active {
  color: hsl(51.9,45.3%,58.4%);
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 400px;
  text-align: center;
}

.mySlides img {
  width: 100%;
  left: 0;
  max-height:100%;
  object-fit: contain;
}

#slide{
	width:96%;
	}
	
* {
	box-sizing: border-box
}

.mySlides {
	display: none;
}

.slideshow-container {
	width: 100%;
	position: relative;
  display: inline-block;
  vertical-align: middle;

}
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	width: auto;
	padding: 16px;
	color: var(--first-color);
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,0.8);
  display: inline-block;
  transform:translateY(-50%);
  padding: 16px;
  display: inline-block;
  vertical-align: middle;


}
/* Position the "next button" to the right */
.next {
  position: absolute;
	right: 0;
  left: auto;
  top: 50%;
	border-radius: 3px 0 0 3px;
}

.prev {
  position: absolute;
  top: 50%;
	left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  position: relative;
}

.dot:link{
  background-color: #494B55;
}

.dot:visited{
  background-color: #494B55;
}



.dot:hover {
	background-color: #494B55;
}

.dot:active{
  background-color: #494B55;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	animation-name: fade;
	animation-duration: 2s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.pics
{
    border:3px solid #494B55;
    width:200px;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--second-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: '';
  width: 230px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 3.5rem;
  background-color: var(--second-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== CLASS CSS ===== */
.section2-title {
  position: relative;
  font-size: var(--h1-font-size);
  color: rgb(0, 0, 0);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-1);
  text-align: center;
}

.section2 {
  padding-top: 3rem;
  padding-bottom: 0rem;
}

/*===== LAYOUT =====*/
.bd-grid2 {
  max-width: 80%;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

.bd-grid3 {
  max-width: 100%;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

.bd-grid {
  max-width: 85%;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: hsl(0,0%,76.1%);
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*===== NAV =====*/
.nav {
  height: calc(var(--header-height) + 1.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}



@media screen and (max-width: 890px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 180px;
    height: 28%;
    padding: 0rem;
    background-color: hsl(0,0%,76.1%);
    transition: .5s;
  }
}

.nav__item {
  margin-bottom: var(--mb-2);
  font-size: var(--larger-font-size);
}

.nav__link {
  position: relative;
  color: #fff;

}

.nav__link:hover {
  position: relative;
}

.nav__logo {
  color: var(--second-color);
  font-size: var(--larger-font-size);
}

.nav__toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__link:visited {
  text-decoration: underline;
}

.nav__link:active {
  text-decoration: underline;
}

.nav__link:active::after {
  text-decoration: underline;
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/
.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
  padding: 10rem 0 2rem;
}

.home__banner {
  margin-top: 3rem; 
  width:100%;
}

.home__data {
  align-self: center;
}

.home__title {
  font-size: var(--vbig-font-size);
  margin-bottom: var(--mb-5);
}

.home__title-color {
  color: var(--first-color);
}

.home__social {
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 2.5rem;
  color: var(--second-color);
}

.footer__icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 2.5rem;
  color: var(--second-color);
}

.footer__icon:hover {
  color: hsl(351.9,45.3%,58.4%);
}
.home__social-icon:hover {
  color: hsl(351.9,45.3%,58.4%);
}

.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 260px;
}

.home__blob {
  fill: var(--first-color);
}

.home__blob-img {
  width: 360px;
}


/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  transition: .3s;
}

.button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
  background-color: hsl(351.9,45.3%,58.4%);
}

.button2:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
  background-color: hsl(351.9,45.3%,58.4%);
}

.external2_button {
  color: #FFFFFF;
  background-color: hsl(201.9, 45.3%,58.4%);
  font-weight: var(--font-semi);
  font-size: 1.5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: .5rem;
  overflow: hidden;
  width: 240px;
  height: 50px;
  display: flex;
  justify-content: center; /* Align horizontal */
  align-items: center; /* Align vertical */
  margin-left: auto;
  margin-right: auto;
}

.external2_button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
  background-color: hsl(351.9,45.3%,58.4%);
}

.external__button {
  color: #FFFFFF;
  background-color: hsl(201.9, 45.3%,58.4%);
  font-weight: var(--font-semi);
  font-size: 1.1rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: .5rem;
  overflow: hidden;
  width: 220px;
  height: 50px;
  display: flex;
  justify-content: center; /* Align horizontal */
  align-items: center; /* Align vertical */
  margin-left: auto;
  margin-right: auto;
}

.external__button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
  background-color: hsl(351.9,45.3%,58.4%);
}
.active_matter_button:hover {
  transform: scale(1.1);
}

.active_matter_button {
  background: url(../img/seal_hunting_fish.gif);
  background-size: 130%;
  color: #FFFFFF;
  font-weight: var(--font-semi);
  font-size: 1.5rem;
  transition: 1s;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: .5rem;
  overflow: hidden;
  width: 95%;
  height: 200px;
  display: flex;
  justify-content: center; /* Align horizontal */
  align-items: center; /* Align vertical */
  align-self: center;
}

.active_matter_button:hover {
  transform: scale(1.1);
}

.light_detector_button {
  
  background: url(../img/solar_cell.jpeg);
  background-size: 130%;
  background-position: center;
  color: #FFFFFF;
  font-weight: var(--font-semi);
  font-size: 1.5rem;
  transition: 1s;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: .5rem;
  overflow: hidden;
  width: 95%;
  height: 100px;
  display: flex;
  justify-content: center; /* Align horizontal */
  align-items: center; /* Align vertical */
}

.light_detector_button:hover {
  transform: scale(1.1);
}

.fusion_energy_button {
  background: url(../img/fusion_plasma.gif);
  background-size: 120%;
  color: #FFFFFF;
  font-weight: var(--font-semi);
  font-size: 1.5rem;
  transition: 1s;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: .5rem;
  overflow: hidden;
  width: 95%;
  height: 200px;
  display: flex;
  justify-content: center; /* Align horizontal */
  align-items: center; /* Align vertical */
}

.fusion_energy_button:hover {
  transform: scale(1.1);
}

/* ===== ABOUT =====*/
.about__container {
  row-gap: 0rem;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 2rem;
}

.about2__container {
  row-gap: 0rem;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 2rem;
}

.about3__container {
  row-gap: 0rem;
  text-align: justify;
  text-justify: inter-word;
}

.pubmid__container {
  row-gap: 2rem;
  text-align: justify;
  text-justify: inter-word;
  position:relative;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.6);
  border-radius: 0.5rem;
  margin-top: 2rem;

}

.publeft__container {
  row-gap: 2rem;
  text-align: justify;
  text-justify: inter-word;
  position:relative;
  background-color: gray;
  padding: 2rem;
  border-radius: .5rem;
}

.publefttitle__container {
  row-gap: 2rem;
  text-align: center;
  text-justify: inter-word;
  position:relative;
}

.publeft2__container {
  row-gap: 2rem;
  text-align: justify;
  text-justify: inter-word;
  position:relative;
  right: 500px;
}

.roleright__container {
  row-gap: 2rem;
  text-align: justify;
  text-justify: inter-word;
}

.pubright__container {
  row-gap: 2rem;
  text-align: justify;
  text-justify: inter-word;
}

.pubright2__container {
  row-gap: 2rem;
  text-align: justify;
  text-justify: inter-word;
}

.about__subtitle {
  margin-bottom: var(--mb-2);
  color: rgb(0, 0, 0);
}

.publeft__subtitle {
  margin-bottom: var(--mb-0);
}

.publefttitle__subtitle {
  margin-bottom: var(--mb-0);
}

.publeft2__subtitle {
  margin-bottom: var(--mb-2);
  margin-top: .5rem;
}

.pubmid__subtitle {
  margin-bottom: var(--mb-2);
}

.roleright__subtitle {
  margin-bottom: var(--mb-0);
  color: rgb(0, 0,0);
}

.pubright__subtitle {
  margin-bottom: var(--mb-0);
  color: rgb(0, 0,0);
}

.pubright2__subtitle {
  margin-bottom: var(--mb-2);
  margin-top: .5rem;
  font-size: var(--smaller-font-size)
}

.about__img {
  justify-self: center;
}

.about__text {
  font-size: var(--normal-font-size);
  line-height:1.6;
}

.orcid__text {
  font-size: var(--larger-font-size);
  line-height:1.6;
}

.aboutleft__txt {
  margin-left:1.0rem; 
  font-size: var(--normal-font-size);
}

.aboutright__txt {
  margin-right:.0rem; 
  font-size: var(--normal-font-size);
}

.pubright__txt {
  margin-right:1.0rem; 
  border-radius:0.5rem;
  margin-top: 2rem; 
  padding:1.5rem; 
  font-size: var(--normal-font-size);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.6);
}

.skills3__container {
  margin-top: 1rem; 
  border-radius:0.5rem;
  padding:1.5rem; 
  font-size: var(--normal-font-size);
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.6);
  row-gap: 1rem;
}

.aboutright__txt {
  margin-right:2.0rem; 
  border-radius:0.5rem;
  margin-bottom: 2rem;
  margin-top: 0rem; 
  padding:1.5rem; 
  font-size: var(--normal-font-size);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.6);
}

.aboutleft__txt {
  margin-left:2.0rem; 
  border-radius:0.5rem;
  margin-top: 0rem; 
  padding:1.5rem; 
  font-size: var(--normal-font-size);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.6);
}

.publeft__txt {
  margin-left:1.0rem; 
  border-radius:0.5rem;
  margin-top: 2rem; 
  padding:1.5rem; 
  font-size: var(--normal-font-size);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.6);
}

.about__img img {
  width: 600px;
  border-radius: .5rem;
}

.publeft__img {
  display:block;
  justify-self: center;
  position:relative;
  left: 1000px;
}

.publeft__img img {
  width: 200px;
  border-radius: .5rem;
}

.roleright__img {
  justify-self: center;
}

.roleright__img img {
  width: 200px;
  border-radius: .5rem;
}

.pubright__img {
  justify-self: center;
}

.pubright__img img {
  width: 200px;
  border-radius: .5rem;
}

/* ===== SKILLS =====*/
.skills__container {
  row-gap: 2rem;
  text-align: center;
}

.skills__subtitle {
  margin-bottom: var(--mb-2);
}

.skills__text {
  margin-bottom: var(--mb-4);
}

.skills__column {
  margin-top: 0rem;
}

.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

.skills__icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}

.skills__ten {
  width: 100%;
}

.skills__four {
  width: 40%;
}

.skills__two {
  width: 20%;
}

.skills__one {
  width: 10%;
}

.skills__img {
  border-radius: .5rem;
}

.skills2__container {
  row-gap: 2rem;
  text-align: center;
}

.skills2__text {
  margin-bottom: var(--mb-4);
}

.skills3__text {
  margin-bottom: var(--mb-4);
  line-height:1.6;
}


.experience__container {
  row-gap: 2rem;
  text-align: center;
}

.experience__text {
  margin-bottom: var(--mb-4);
}

/* ===== WORK =====*/
.work__container {
  row-gap: 2rem;
}





.external2__container {
  row-gap: 2rem;
  text-align: center;
  height: 0;
  margin-top: 25px;
  margin-bottom: 50px;
}

.wrapper { 
  margin: 0 auto; /* this will make .wrapper centered */
  display: grid;
  width: 100%;
  grid-column-gap: 5%; /* like 40px, but the snippet is very small */
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.wrapper2 { 
  margin-top: 25px;
  margin-bottom: 50px;
}

.wrapper3 {
  margin: 0 auto; /* this will make .wrapper centered */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem; /* like 40px, but the snippet is very small */
}

.work__img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: .5rem;
  overflow: hidden;
}

.work__img img {
  transition: 1s;
}

.work__img img:hover {
  transform: scale(1.1);
}

/* ===== PUBLICATIONS =====*/

.publications__container {
  row-gap: 2rem;
}

.publications__img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: .5rem;
  overflow: hidden;
}

.publications__img img {
  transition: 1s;
}


/* ===== CONTACT =====*/
.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}

.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* ===== FOOTER =====*/
.footer {
  background-color: hsl(0,0%,76.1%);
  color: var(--second-color);
  text-align: center;
  font-weight: var(--font-semi);
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.footer__social {
  margin-bottom: var(--mb-4);
}

.footer__copy {
  font-size: var(--small-font-size);
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 850px) {
  .home {
    padding: 4rem 0 2rem;
  }

  .home__banner {
    margin-top: -2rem; 
    width:100%;
  }

  .home__social {
    padding-top: 0;
    margin-top: 0rem;
    flex-direction: row;
    align-self: flex-end;
  }
  

  .footer__icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
    font-size: 2.5rem;
  }

  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
    font-size: 2.2rem;
  }

  .home__img {
    width: 250px;
    bottom: 15%;
  }
  .aboutright__txt {
    margin-left:0.0rem; 
    font-size: var(--normal-font-size);
  }

  .publeft__txt {
    margin-right:0.0rem; 
    margin-left:0.0rem; 
    margin-top: 1rem; 
    border-radius:0.5rem;
    padding:1.5rem; 
    font-size: var(--normal-font-size);
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.6);
  }

  .pubright__txt {
    margin-left:0.0rem; 
    margin-right:0.0rem; 
    margin-top: 1rem; 
    border-radius:0.5rem;
    padding:1.5rem; 
    font-size: var(--normal-font-size);
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.6);
  }

  .skills3__container {
    margin-top: 1rem; 
    border-radius:0.5rem;
    padding:1.5rem; 
    font-size: var(--normal-font-size);
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.6);
  }

  .aboutleft__txt {
    margin-left:0.0rem; 
    margin-right:0.0rem; 
    margin-top: 2rem; 
    margin-bottom: 2rem;
    border-radius:0.5rem;
    padding:1.5rem; 
    font-size: var(--normal-font-size);
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.6);
  }

  .aboutright__txt {
    margin-left:0.0rem; 
    margin-right:0.0rem; 
    margin-top: 1rem; 
    border-radius:0.5rem;
    padding:1.5rem; 
    font-size: var(--normal-font-size);
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.6);
  }

  .skills__column {
    margin-top: -2rem;
  }

  .aboutleft__txt {
    margin-left:0.0rem; 
    font-size: var(--normal-font-size);
  }
  .about__img {
    width: 75%;
    justify-self: center;
    margin: auto;
  }
}

@media screen and (max-width: 890px) {
  .about__container { display: flex; flex-flow: column; }
  .aboutleft__txt { order: 1; }
  .about__img { order: 2;  }
}

@media screen and (max-width: 890px) {
  .pubright__container { display: flex; flex-flow: column; }
  .pubright__txt { order: 1; }
  .pubright__img { order: 2;  }
}

@media screen and (min-width: 530px) {

  .home__img {
    width: 270px;
    bottom: 15%;
  }

@media screen and (min-width: 780px) {

  .home__img {
    width: 320px;
    bottom: 15%;
  }

@media screen and (min-width: 820px) {

  .home__img {
    width: 370px;
    bottom: 15%;
  }

@media screen and (min-width: 820px) {
  .home {
    padding: 4rem 0 2rem;
  }
  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }

  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }

  .footer__icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }

@media screen and (min-width: 890px) {

  .about__container {
    grid-template-columns: 1.3fr 2.1fr;
    margin-top: 2rem;
    grid-auto-rows: 1fr;
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
  }

  .about2__container {
    grid-template-columns: 2.1fr 1.3fr;
    margin-top: 2rem;
    grid-auto-rows: 1fr;
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
  }

  .about3__container {
    grid-template-columns: 1.5fr 1.5fr;
    grid-auto-rows: 1fr;
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
  }

  .publeft__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
  }

  .publefttitle__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    text-justify: inter-word;
  }

  .publeft2__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
  }

  .pubmid__container {
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.6);
    border-radius: 0.5rem;
    margin-top: 2rem;
  }

  .roleright__container {
    grid-template-columns: 1.0fr 2.5fr;
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
    border-radius: 5rem;
  }

  .pubright__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
    border-radius: 5rem;
  }

  .pubbanner {
    width: 100%;
  }
  
  .pubright2__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
  }

  .skills__container {
    grid-template-columns: .7fr;
    justify-content: center;
    column-gap: 1rem;
  }

  .wrapper3 {
    margin: 0 auto; /* this will make .wrapper centered */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem; /* like 40px, but the snippet is very small */
  }

  .work__container {
    width: 100%;
    grid-template-columns: repeat(3, 33.33333%);
    column-gap: 2rem;
    margin: auto;
  }

  .external2__container {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }

  .contact__form {
    width: 360px;
    padding-top: 2rem;
  }
  .contact__container {
    justify-items: center;
  }
}
@media screen and (min-width: 890px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--second-color);
  }
}

@media screen and (min-width: 890px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }

  .section-title::after {
    width: 280px;
    top: 4rem;
    
  }

  .section2 {
    padding-top: 4rem;
    padding-bottom: 0rem;
  }
  .section2-title {
    margin-bottom: var(--mb-1);
    color: rgb(0, 0, 0);
  }

  .home {
    padding: 8rem 0 2rem;
  }
  
  .home__img {
    width: 420px;
    bottom: 5%;
  }
  .about__container {
    padding-top: 1rem;
    margin-top: 2rem;
  }

  .about2__container {
    padding-top: 1rem;
    margin-top: 2rem;
  }

  .about3__container {
    padding-top: 0rem;
  }

  .publeft__container {
    padding-top: 2rem;
  }

  .publefttitle__container {
    padding-top: 2rem;
  }

  .publeft2__container {
    padding-top: 2rem;
    padding-bottom: 0rem;
  }

  .roleright__container {
    padding-top: 2rem;
  }

  .pubright__container {
    padding-top: 2rem;
  }

  .pubright2__container {
    padding-top: 2rem;
    padding-bottom: 0rem;
  }

  .about__img img {
    width: 450px;
  }

  .publeft__img img {
    width: 450px;
    padding-left:2rem;
  }

  .roleright__img img {
    width: 450px;
    padding-right:2rem;
  }
  .div.container {
    width: 80%;
  }
  .pubright__img img {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  
  
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }

  .skills2__container {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }

  .skills3__container {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }

  .experience__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
    
  }
}

@media screen and (min-width: 201px) {
  .external__container {
    grid-template-columns: repeat(2, 50%);
    margin: auto;
    width: 100%;
    align-items: center;
    text-align: initial;
    border: 1.5px solid var(--second-color);
  }
}

@media screen and (max-width: 200px) {
  .external__container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 2rem;
    border: 1.5px solid var(--second-color);
  }
}
  /*
  ========================================
  Schedule
  ========================================
*/

table {
  margin-bottom: 44px;
  width: 100%;
  table-layout: fixed;
  border: 1px solid red;
}
table:last-child {
  margin-bottom: 0;
}
table th,
table td {
  padding-bottom: 22px;
  vertical-align: top;
}
table th {
  padding-right: 45px;
  text-align: right;
  width: 15%;
  border-top: 1px solid #dfe2e5;
  border: 1px solid blue;
  overflow: hidden;
  white-space: nowrap;

}

table tr td:nth-child(2) {
  width: 25%;
  text-align: center;
  border: 1px solid blue;
  overflow: hidden;
  white-space: nowrap;
  display: table-cell;
  vertical-align: middle;
  }


/* the second */
table tr td:nth-child(3) {
  width: 50%;
  text-align: center;
  border: 1px solid blue;
  display: table-cell;
  vertical-align: middle;
}
table thead {
  line-height: 44px;
}
table thead th {
  color: #648880;
  font-size: 24px;
}
table tbody th {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  padding-top: 22px;
  text-transform: uppercase;
}
table tbody td {
  border-top: 1px solid #dfe2e5;
  padding-top: 21px;
}
table tbody td:first-of-type {
  padding-right: 15px;
}
table tbody td:last-of-type {
  padding-left: 15px;
}
table tbody td:only-of-type {
  padding-left: 0;
  padding-right: 0;
}
table a {
  color: #888;
}
table h4 {
  margin-bottom: 0;
}
.schedule-offset {
  color: #a9b2b9;
}


@media screen and (min-width: 950px) {
  .home__img {
    width: 420px;
    bottom: 5%;
  }
  
}
@media screen and (min-width: 1090px) {
  .home__img {
    width: 470px;
    bottom: 5%;
  }
}

@media screen and (min-width: 1290px) {
  .home__img {
    width: 520px;
    bottom: 5%;
  }
}


@media screen and (max-width: 600px) {

  .work__container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
  }

  

  .external__button {
    color: #FFFFFF;
    background-color: hsl(201.9, 45.3%,58.4%);
    font-weight: var(--font-semi);
    font-size: 0.8rem;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: .5rem;
    overflow: hidden;
    width: 150px;
    height: 50px;
    transition: 0.7s;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    margin-left: auto;
    margin-right: auto;
    
  }

}

@media screen and (min-width: 1150px) {
  .active_matter_button {
    background: url(../img/seal_hunting_fish.gif);
    background-size: 130%;
    color: #FFFFFF;
    font-weight: var(--font-semi);
    font-size: 1.5rem;
    transition: 1s;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: .5rem;
    overflow: hidden;
    width: 95%;
    height: 200px;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    align-self: center;
    text-align: center;
  }
  .light_detector_button {
    
    background: url(../img/solar_cell.jpeg);
    background-size: 130%;
    background-position: center;
    color: #FFFFFF;
    font-weight: var(--font-semi);
    font-size: 1.5rem;
    transition: 1s;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: .5rem;
    overflow: hidden;
    width: 95%;
    height: 200px;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    text-align: center;
  }
  .fusion_energy_button {
    background: url(../img/fusion_plasma.gif);
    background-size: 120%;
    color: #FFFFFF;
    font-weight: var(--font-semi);
    font-size: 1.5rem;
    transition: 1s;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: .5rem;
    overflow: hidden;
    width: 95%;
    height: 200px;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    text-align: center;
  }
}

@media screen and (max-width: 1150px) {

  .active_matter_button {
    background: url(../img/seal_hunting_fish.gif);
    background-size: 130%;
    color: #FFFFFF;
    font-weight: var(--font-semi);
    font-size: 1.35rem;
    transition: 0.7s;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: .5rem;
    overflow: hidden;
    width: 95%;
    height: 150px;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    align-self: center;
    text-align: center;
    
  }

  .light_detector_button {
  
    background: url(../img/solar_cell.jpeg);
    background-size: 130%;
    background-position: center;
    color: #FFFFFF;
    font-weight: var(--font-semi);
    font-size: 1.35rem;
    transition: 0.7s;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: .5rem;
    overflow: hidden;
    width: 95%;
    height: 150px;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    text-align: center;
  }
  
  .fusion_energy_button {
    background: url(../img/fusion_plasma.gif);
    background-size: 120%;
    color: #FFFFFF;
    font-weight: var(--font-semi);
    font-size: 1.35rem;
    transition: 0.7s;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: .5rem;
    overflow: hidden;
    width: 95%;
    height: 150px;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    text-align: center;
  }

}

@media screen and (max-width: 890px) {

  .active_matter_button {
    background: url(../img/seal_hunting_fish.gif);
    background-size: 130%;
    color: #FFFFFF;
    font-weight: var(--font-semi);
    font-size: 1.2rem;
    transition: 0.7s;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: .5rem;
    overflow: hidden;
    width: 95%;
    height: 125px;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    align-self: center;
    text-align: center;
  }

  .light_detector_button {
  
    background: url(../img/solar_cell.jpeg);
    background-size: 130%;
    background-position: center;
    color: #FFFFFF;
    font-weight: var(--font-semi);
    font-size: 1.2rem;
    transition: 0.7s;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: .5rem;
    overflow: hidden;
    width: 95%;
    height: 125px;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    text-align: center;
  }
  
  .fusion_energy_button {
    background: url(../img/fusion_plasma.gif);
    background-size: 120%;
    color: #FFFFFF;
    font-weight: var(--font-semi);
    font-size: 1.2rem;
    transition: 0.7s;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: .5rem;
    overflow: hidden;
    width: 95%;
    height: 125px;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    text-align: center;
  }

}

@media screen and (max-width: 450px) {

  .active_matter_button {
    background: url(../img/seal_hunting_fish.gif);
    background-size: 130%;
    color: #FFFFFF;
    font-weight: var(--font-semi);
    font-size: 0.8rem;
    transition: 0.7s;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: .5rem;
    overflow: hidden;
    width: 95%;
    height: 100px;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    align-self: center;
  }

  .light_detector_button {
  
    background: url(../img/solar_cell.jpeg);
    background-size: 130%;
    background-position: center;
    color: #FFFFFF;
    font-weight: var(--font-semi);
    font-size: 0.8rem;
    transition: 0.7s;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: .5rem;
    overflow: hidden;
    width: 95%;
    height: 100px;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
  }
  
  .fusion_energy_button {
    background: url(../img/fusion_plasma.gif);
    background-size: 120%;
    color: #FFFFFF;
    font-weight: var(--font-semi);
    font-size: 0.8rem;
    transition: 0.7s;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: .5rem;
    overflow: hidden;
    width: 95%;
    height: 100px;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
  }

}
